@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: .1rem solid red; */
}

:root {
    --black: #000;
    --white: #fff;
    --gray: #f4f4f4;
    --golden: #f1B555;
    --brown: #9B281A;
}

/* BASIC STYLING */


a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 2rem;
    /* display: flex;
    gap: 1.5rem; */
}

.golden-bg {
    background: var(--golden);
}

.brown-bg {
    background: var(--brown);
}

.column {
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

.mt {
    margin-top: 3.5rem;
}

.p-b {
    padding-block: 3.5rem;
}

.gap {
    gap: 2rem;
}

/* HEADER  */

.navbar {
    /* background-color: var(--golden); */
    height: 14vh;
}

.logo {
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--golden);
}

.nav-icon {
    gap: 1.5rem;
}

.icon {
    font-size: 1.1rem;
}

/* SECTIONS PART */

.hero-section {
    height: calc(100vh - 14vh);
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--gray);

    z-index: -1;
    left: 200px;
    top: 5px;

}

.h1-heading {
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 100%;
}

span {
    font-weight: bold;
}

.big-para {
    font-size: 1.8rem;
    font-weight: 300;
}

.btn {
    padding: .7rem 1.8rem;
    color: white;
    font-size: .9rem;
    border-radius: 5rem;
    text-transform: uppercase;
    display: block;
    justify-self: flex-start;
    transition: .3s ease-in-out;
}

.hero-content .btn {
    justify-self: flex-end;
}

.btn:hover {
    background: var(--black);
}

.hero-image {
    width: 45vw;

}

.h3-heading {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* CATAGORY */

.catagory-card {
    background: var(--gray);
    height: 30rem;
    flex: 1;
    border-radius: 1.5rem;
    position: relative;
    transition: transform .3s ease-in-out;
    flex-basis: 250px;

}

.h5-heading {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 300;

    color: white;
}

.simple-icon {
    font-size: 1.3rem;
    color: white;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    transition: .3s ease-in-out;

}

.catagory-card .flex {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-inline: 1rem;

}

.catagory-card:hover .simple-icon {
    background: var(--golden);
    transform: rotateZ(-50deg);
}

.catagory-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;

}

/* BED SECTION */



.h2-heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 1000px;
    line-height: 100%;
}

.gradient-text {
    background: linear-gradient(90deg, var(--golden), var(--brown));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: auto;
    text-align: center;

}

.bed-image {
    width: 75vw;
    margin-inline: auto;
    position: relative;

}

.h6-heading {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: .2rem;
}

.small-para {
    font-size: .8rem;
    /* max-width: 250px; */
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: .7rem;


}

.simple-icon:hover {
    scale: 1.15;
}

.price {
    color: var(--brown);
}

del {
    color: var(--black);
    margin-right: 1rem;
}

.bed-detail {
    max-width: 270px;
    background: rgba(244, 240, 244, .4);
    position: absolute;
    top: 35px;
    left: 70%;
    padding: 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
}




/* NEW ARRIVAL */
.brown-txt {
    color: brown;
    font-weight: 400;
    margin-bottom: 1rem;
}

.avg-para {
    font-size: 1.06rem;
    color: rgba(0, 0, 0, 0.551);
    text-transform: capitalize;
    max-width: 600PX;

}

.product-card {
    flex: 1;
    flex-basis: 230px;

}

.product-image {
    height: 20rem;
    background-color: var(--gray);
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
}

small {
    font-size: .7rem;
    color: rgba(0, 0, 0, 0.456);
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: block;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

.product-image .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    bottom: -50px;
}

.product-card:hover .product-image .btn {
    bottom: 50px;
}

.center-btn {
    justify-self: center;
}


/* ABOUT */
.about-image {
    /* background: gold; */
    max-width: 30rem;
    height: 35rem;
    border-radius: 1.5rem;
    position: relative;
    transform: rotateZ(3deg);
    margin-left: 10rem;


}

.about-image img {
    max-width: 30rem;
    height: 35rem;
    border-radius: 1.5rem;
    margin-right: 2rem;
    transform: rotateZ(2deg);
    /* margin-left: 0rem; */

}

.about-image::before {
    content: '';
    /* background-color: blue; */
    width: 18rem;
    height: 22rem;
    border-radius: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(-8deg);
    right: 65%;
    background-image: url(img/bedroom.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */

    z-index: 999;


}



.about-content p {
    color: var(--brown);
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 500;

}

.about-content h2 {
    max-width: 600px;
    margin-top: .8rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
}



/* FIX SECTION */

.fix-section {
    background-image: url(img/fix-bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
    margin-block: 3rem;
    background-attachment: fixed;

}

.fix-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;

}

.fix-section * {
    color: white;
}

.fix-section .h2-heading {
    font-size: 3.5rem;
    max-width: 600px;
    font-weight: 400;
}

.fix-section .avg-para {
    margin-top: .5rem;
    margin-bottom: 3rem;
    color: rgba(255, 255, 255, 0.7);
}

.fix-section .btn {
    background-color: white;
    color: black;
    transition: .3s ease-in-out;
}

.fix-section .btn:hover {
    background-color: gray;
    color: white;
}


/* REVIEW SECTION */
.review-card {
    flex: 1;
    flex-basis: 300px;
    text-align: center;
    background: linear-gradient(var(--white) 20%, rgba(128, 128, 128, 0.249) 70%);
    padding: 3rem;
    border-radius: 1.5rem;
}

.review-card .profile {
    width: 7rem;
    aspect-ratio: 1;
    background-color: gold;
    border: .4rem solid var(--white);
    border-radius: 50%;
    margin-bottom: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-1 {
    background-image: url(img/profile1.jpg);
}

.profile-2 {
    background-image: url(img/profile2.jpg);
}

.profile-3 {
    background-image: url(img/profile3.jpg);
}



.review-card .h5-heading {
    color: var(--black);

    margin-bottom: 1rem;
}


/* SECVICE SECTION */
.service-card {
    background: var(--gray);
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    flex: 1;
    flex-basis: 300px;
    gap: 1.5rem;
    display: flex;
    height: 20vh;
    align-items: center;

}

.double-color-bg {
    background: linear-gradient(to top,
            #f1b55589 50%,
            var(--white) 50%);
}

.service-card .service-icon {
    font-size: 2rem;
    /* margin-inline: 1rem; */
    color: var(--brown);

}

.service-card .h5-heading {
    color: black;
    font-weight: 500;
    margin-bottom: .5rem;

    font-size: 1.1rem
}

/* FOOTER */

.footer-bg {
    background-image: url(img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
}

.footer-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    backdrop-filter: blur(15px);

}

.footer-bg * {
    color: var(--white);
}

.footer-wrapper .h3-heading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 100%;
    margin-block: 1.8rem;

}

.input-container {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.26);
    height: 2.7rem;
    padding-inline: 1rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.input-container input[type="email"] {
    flex: 1;
    border: none;

    background: transparent;
    font-size: 1rem;
    color: white;


}

.input-container input[type="email"]:focus {
    outline: none;
}

.input-container input[type="email"]::placeholder {
    color: white;
}

.social-icons {
    gap: 1rem;
    margin-top: 3rem;

}

.footer-bg .flex {
    align-items: flex-start;
}

.footer-wrapper {
    flex: 1;
}

.footer-wrapper:nth-child(1) {

    flex: 2;
}

.footer-wrapper .h6-heading {
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.footer-link {
    font-size: 1rem;
    display: block;
    margin-bottom: .7rem;
    font-weight: 300;

}

.contact .footer-link {
    text-decoration: .1rem underline var(--gray);
    text-underline-offset: 5px;

}

.copyright {
    padding-block: 2rem;
    background-color: #54463f;

}

.copyright p {
    font-size: .9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}




















@media screen and (max-width: 680px) {


    /* * {
        overflow: hidden;
    }*/

    .h1-heading {
        font-size: 5rem;
    }

    .big-para {
        font-size: 1.5rem;
    }

    .hero-image {
        width: 27rem;
    }

    .hero-section::before {
        left: 0;
        width: 18rem;
    }

    .h2-heading {
        font-size: 2.3rem;
    }

    .bed-image {
        width: 26rem;

    }

    .bed-detail {
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    .bed-image:hover .bed-detail {
        opacity: 1;
        visibility: visible;
    }

    .about-image {
        width: 25rem;
        height: 38rem;
        margin-left: 1rem;


    }

    .about-image::before {
        width: 16rem;
        aspect-ratio: 1;
    }

    .fix-section .h2-heading {
        font-size: 2.7rem;
        width: 100%;
    }

    .avg-para {
        font-size: .95rem;
    }


}