@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: .1rem solid red; */
}

:root {
    --black: #000;
    --white: #fff;
    --gray: #f4f4f4;
    --golden: #f1B555;
    --brown: #9B281A;
}

/* BASIC STYLING */


a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 2rem;
}

.golden-bg {
    background: var(--golden);
}

.brown-bg {
    background: var(--brown);
}

.column {
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

.mt {
    margin-top: 3.5rem;
}

.p-b {
    padding-block: 3.5rem;
}

.gap {
    gap: 2rem;
}

/* HEADER  */

.navbar {
    /* background-color: var(--golden); */
    height: 14vh;
}

.logo {
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--golden);
}

.nav-icon {
    gap: 1.5rem;
}

.icon {
    font-size: 1.1rem;
}

/* SECTIONS PART */

.hero-section {
    height: calc(100vh - 14vh);
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--gray);

    z-index: -1;
    left: 200px;
    top: 5px;

}

.h1-heading {
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 100%;
}

span {
    font-weight: bold;
}

.big-para {
    font-size: 1.8rem;
    font-weight: 300;
}

.btn {
    padding: .7rem 1.8rem;
    color: white;
    font-size: .9rem;
    border-radius: 5rem;
    text-transform: uppercase;
    display: block;
    justify-self: flex-end;
    transition: .3s ease-in-out;
}

.btn:hover {
    background: var(--black);
}

.hero-image {
    width: 45vw;

}

.h3-heading {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* CATAGORY */

.catagory-card {
    background: var(--gray);
    height: 30rem;
    flex: 1;
    border-radius: 1.5rem;
    position: relative;
    transition: transform .3s ease-in-out;

}

.h5-heading {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 300;

    color: white;
}

.simple-icon {
    font-size: 1.2rem;
    color: white;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;

}

.catagory-card .flex {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-inline: 1rem;

}

.catagory-card:hover .simple-icon {
    background: var(--golden);
    transform: rotateZ(-50deg) scale(1.1);
}

.catagory-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;

}